
{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center form">
  <div class="col-md-4">
    <div class="card bg-gray-light">
      <div class="card-header bg-primary"><span class="panel-title text-light">Přihlášení do systému BOZALA</span>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="input-container">
            <i class="fa fa-envelope icon"></i>
              <input type="text" name="email"/>
          </div>

          <div class="input-container">
            <i class="fa fa-lock icon"></i>
              <input type="text" name="passwd">
          </div>
          <input type="submit" name="přihlásit" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row justify-content-center">
    <p>pokud jste zapoměli heslo, klidkněte <a href="#">zde.</a></p>
  </div>
</div>

{% endblock %}