{% extends 'base.html' %}
{% load comps_filters %}
{% block content %}
  <div class="container text-center container-padding-top">

    <form method="post" action="/NewComp/">
      {% csrf_token %}
      <input class="form-control" type="number" name="edit" value="0" id="edit" hidden required>
      <div class="form-row">
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="name" name="name" placeholder="Jméno závodu" required>
        </div>
        <div class="form-group col-md-4">
          <input placeholder="Začátek závodu" class="form-control" name="start_date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="start_date" required />
        </div>
        <div class="form-group col-md-4">
          <input placeholder="Konec závodu" class="form-control" name="end_date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="end_date" required />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <select class="form-control" name="type" id="type" required>
            <option value="" disabled selected >typ závodu</option>
            <option value="0">obtížnost</option>
            <option value="1">boulder</option>
            <option value="2">rychlost</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <input type="number" class="form-control" name="min_age" id="min_age" placeholder="spodní rok narozeni" required>
        </div>
        <div class="form-group col-md-4">
          <input type="number" class="form-control" name="max_age" id="max_age" placeholder="vrchní rok narozeni" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <select id="state" class="form-control" name="state" required>
             <option value="" disabled selected>stav závodu</option>
            <option value="prepare">příprava</option>
            <option value="precomp">registrace</option>
            <option value="running">probíhá</option>
            <option value="end">ukončen</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="city" name="city" placeholder="Město" required>
        </div>
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="address" name="address" placeholder="Adresa" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4"></div>
        <button type="submit" class="btn btn-primary btn-block col-md-4">Uložit</button>
      </div>


    </form>

    <br><br>
    <table class="table table-striped text-left table-responsive-md">
      <thead>
      <tr>
        <th>#</th>
        <th>Jméno</th>
        <th>Dataum konání</th>
        <th>typ</th>
        <th>věkový rozptyl</th>
        <th>stav</th>
        <th style="width: 200px">akce</th>
      </tr>
      </thead>
      <tbody>
      {% for comp in comps %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ comp.name }}</td>
          <td>
            {% if comp.start_date == comp.end_date %}
              {{ comp.start_date|date:"j. n. Y" }}
            {% else %}
              {{ comp.start_date|date:"j. n. Y" }} - {{ comp.end_date|date:"j. n. Y" }}
            {% endif %}
          </td>
          <td>{{ comp_type_dict|get_item:comp.type }}</td>
          <td>{{ comp.min_age }} až {{ comp.max_age }}</td>
          <td>{{ state_dict|get_item_string_key:comp.state }}</td>

          <td>
            <div class="text-nowrap">
              <a class="btn btn-primary" href="{% url 'comps:deleteComp' ids=comp.id %}">smazat</a>
              <a class="btn btn-primary" href="#" onclick="editComp( '{{ comp.id}}', '{{ comp.name}}','{{ comp.type }}' , '{{ comp.start_date|date:"Y-m-d" }}', '{{ comp.end_date|date:"Y-m-d"}}', '{{ comp.min_age}}', '{{ comp.max_age}}', '{{ comp.city}}', '{{ comp.address}}', '{{ comp.state }}' )">upravit</a>
              <a class="btn btn-primary" href="{% url 'comps:categoryView' ids=comp.id %}">kategorie</a>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  </div>

    <script>
    function editComp(ids, name, type, start_date, end_date, min_age, max_age, city, address, state) {
        $('#name').val(name);
        $('#type').val(type);
        $('#start_date').val(start_date);
        $('#end_date').val(end_date);
        $('#min_age').val(min_age);
        $('#max_age').val(max_age);
        $('#city').val(city);
        $('#address').val(address);
        $('#edit').val(ids);
        $('#state').val(state);
    }
  </script>
{% endblock %}
