{% extends 'base.html' %}
{% load i18n %}
{% load comps_filters %}
{% block content %}
  <div class="container text-center container-padding-top">
    <table class="table table-striped text-left table-responsive-md">
      <thead>
      <tr>
        <th>#</th>
        <th>jméno</th>
        <th>dataum konání</th>
        <th>typ</th>
        <th>finále</th>
        <th>moje kategorie</th>
        <th style="width: 200px">akce</th>
      </tr>
      </thead>
      <tbody>
      {% for comp in comps %}

        {% setvar racer|getCategory:comp.id as category %}
        {% setvar racer|getRegistration:comp.id as isRegistrate %}

        <tr {%  if isRegistrate %} class="bg-success" {% else %} class="bg-danger" {% endif %}>
          <td>{{ forloop.counter }}</td>
          <td>{{ comp.name }}</td>
          <td>
            {% if comp.start_date == comp.end_date %}
              {{ comp.start_date|date:"j. n. Y" }}
            {% else %}
              {{ comp.start_date|date:"j. n. Y" }} - {{ comp.end_date|date:"j. n. Y" }}
            {% endif %}
          </td>
          <td>{{ comp_type_dict|get_item:comp.type }}</td>
          <td>{{ comp.is_final|boolToWord }}</td>
          <td>
            {%  if category %}
              {{ category.name }}
            {% else %}
              {{ '-' }}
            {% endif %}
          </td>
          <td>
            <div class="text-nowrap">
              {% if category %}
                <a class="btn btn-primary" href="{% url 'comps:changeRegistration' categoryId=category.id racerId=racer.id %}">
                  {% if isRegistrate %}
                  odhlásit
                {% else %}
                  registrovat
                {% endif %}
                </a>
              {% endif %}
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  </div>

    <script>
    function editComp(ids, name, type, start_date, end_date, is_final, min_age, max_age, result_system, city, address, state) {
        $('#name').val(name);
        $('#type').val(type);
        $('#start_date').val(start_date);
        $('#end_date').val(end_date);
        $('#is_final').val(parseInt(is_final)).change();
        $('#min_age').val(min_age);
        $('#max_age').val(max_age);
        console.log(result_system);
        $('#result_system').val(parseInt(result_system));
        $('#city').val(city);
        $('#address').val(address);
        $('#edit').val(ids);
        $('#state').val(state);
    }
  </script>
{% endblock %}
